body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.container1 {
    background: #1f2937;
    margin-top: -10px;
}
.full-bleed {
    box-shadow: 0 0 0 100vmax #1f2937;
    clip-path: inset(0 -100vmax);
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.part1 {
    display: flex;
    justify-content: space-around;
    padding: 32px;
    gap: 16px;

}
.part1 h1 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.part1 img {
    height: 400px;
    width: 500px;
}
.part1 p{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0.7;
    font-size: 18px;
    }
    .part1 button {
       width: 110px;
        border: none;
        background: #3882f6;
        padding: 10px;
        border-radius: 8px;
        color: #fff;
        font-family: 'Roboto', arial;
        text-decoration: none;
        font-weight: bold;
    }
.part2 img {
    height: 200px;
    width: 200px;
    border: 4px solid blue;
    border-radius: 15px;
}
.part2 {
    text-align: center;
    background: white;
}
.part2 p{
    font-size: 18px;
    font-weight: bold;
}
.part2-second {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.info {
    max-width: 200px;
}
h1 {
    margin-bottom: -20px;
}

.part3 {
    background-color: #e5e7eb;
}
.part3 p {
    font-size: 40px;
    font-style: italic;
}
.second-bleed {
box-shadow: 0 0 0 100vmax #e5e7eb;
clip-path: inset(0 -100vmax);
}
.part4 {
    background-color: #3882F6;
    padding: 16px;
    margin: 40px;
}
.third-bleed {
    box-shadow: 0 0 0 10vmax #3882F6;
    clip-path: inset(0 -10vmax);
}
.extend {
    display: flex;
    gap: 100px;
    margin-top: -30px;
    justify-content: space-between;
}
.part4 button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}
.part4 h2 {
    color: white;
}
.part4 p{
    color: white;
}
.footer {
    background-color: #1f2937;
    padding: 16px;
    color: white;
}
.fourth-bleed {
    box-shadow: 0 0 0 100vmax #1f2937;
    clip-path: inset(0 -100vmax);
}
.header img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}
.part3 .TT {
display: flex;
justify-content: flex-end;
}

  